body {
    background: #fafafa;
}

.table.table {
    border-collapse: collapse;
    border-spacing: 0;
    table-layout: fixed;
    width: 490px;
}

.table.table tr {
    border-bottom: solid 1px #aaaaaa;
}

.table.table th {
    text-align: center;
    padding: 7px 0;
    border-right:solid 1px #aaaaaa;
    border-left:solid 1px #aaaaaa;
    width: 155px;
}

.table.table:nth-child(1) th {
    background-color: #aaaaaa;
}

.table.table:nth-child(3) th {
    background-color: #f5b932;
    color: white;
}

.table.table:nth-child(2) th {
    font-size: 30px;
}

.table.table td {
    text-align: center;
    padding: 7px 0;
    border-right:solid #aaaaaa;
    border-left:solid #aaaaaa;
    width: 155px;

}